/*
*Pages
*/
section#register,
section#forgot-password,
section#rform-company{
  padding: 7rem 0px;
}
section#register,
section#forgot-password,
section#form-company{
  height: 100vh;
  display: grid;
  align-items: center;
  background-color: var(--color-light);
}
section#register form,
section#forgot-password form,
section#form-company form{
  background: transparent;
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow);
  padding: 5rem 1.5rem;
}
section#register form input[type="submit"],
section#forgot-password form input[type="submit"],
section#form-company form input[type="submit"]{
  width: 100%;
  height: 48px;
  font-size: .875rem;
  font-weight: 600;
  color: var(--color-white);
  border-radius: 0px;
  width: 100% !important;
  background-color: var(--color-primary);
}


/*
*btns
*/
.btn-outline-primary{
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  color: var(--color-white) !important;
  transition: .3s all ease;
}
.btn-outline-primary:hover{
  background-color: var(--color-background) !important;
  color: var(--color-primary) !important;
}
.btn-warning{
  background-color: var(--color-warning) !important;
  border-color: var(--color-warning) !important;
  transition: .3s all ease;
}
.btn-warning:hover{
  opacity: 1 !important;
  background-color: var(--color-background) !important;
}