footer{
  padding: 1.4rem 0px;
  margin-top: 1.4rem;
  background-color: var(--color-background);
}
footer ul .nav-item{
  padding: 0px;
}
footer ul .nav-item .nav-link{
  color: var(--color-text);
  font-size: .875rem;
}

/*
*copyright
*/
#copyright{
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem 0px;
}
#copyright p{
  color: var(--color-white);
  font-size: .875rem;
  margin-bottom: 0px;
}